<nav id="navbar" class="wow slideInDown" data-wow-duration="1s" data-wow-delay="0.2s">
    <h1 class="logo">

      <span class="text-primary" style="font-family: 'Shadows Into Light', cursive;
      ">
     A3M</span>      
    </h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/newMeal">New Meal Plan</a></li>
      <li><a href="/newExc">New Exercise</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
  </nav>