<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>food Form</title>
    <link rel="stylesheet" href="../public/styles/style.css">
<link rel="stylesheet" href="../public/styles/base.css">
<link rel="stylesheet" href="../public/styles/layout.css">
<link rel="stylesheet" href="../public/styles/modules.css">
<link rel="stylesheet" href="public/styles/form.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="public/styles/style.css">
<link rel="stylesheet" media="screen and (max-width: 768px)" href="public/styles/mobile.css">
<link rel="stylesheet" media="screen and (min-width: 1100px)" href="public/styles/widescreen.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

<body class="white-bg">
   


  <header>
    <%- include('../../partials/header') %>

</header>
<main >
 <!------------------------------------------- cal form  --------------------------------->

 
<div class="wow" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp;" class="calc-outer-wrap"  >
    <form class="calc-form" id="calc-form">
      <fieldset id="call">
      <div class="form-fields">
    
        <div class="field-outer">
          <div class="field-items">
              <h2  class="herader-form"> Calculate Your calories</h2>
              <br/>
            <div class="field field-large">  
              <label for="">  Age:  </label>       
              <input  class="food-input"type="text" name="age" id="age" inputmode="numeric" pattern="[0-9]*" placeholder="Enter your age please ">
            </div><!--  /.field-large -->
            
            <div class="field field-medium">
              <label for="">Gender:</label>
              <select name="gender" class="food-input">
                  <option value="defult">Select your gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                       
              </select>
              
            </div><!--  /.field-small -->
          </div><!--  /.field-items -->
        </div><!--  /.field-outer -->

        <div class="field-outer">
            <div class="field-items">
             <div class="field">
               <label for="">Height in CM:</label>
               <input class="food-input" type="text" name="height_cm" id="height-cm" inputmode="numeric" pattern="[0-9]*" placeholder="Enter your height">
              </div><!--  /.field -->        
            </div><!--  /.field-items -->
          </div><!--  /.field-outer -->
    
    
        <div class="field-outer">
          <div class="field-items">
            <div class="field field-large">
              <label for="">Your weight: </label>
              <input class="food-input" type="text" name="weight" id="weight" inputmode="numeric" pattern="[0-9]*" placeholder="Enter your Weight">
              <select name="weight_unit" class="weight_unit">
                <option value="lb">lb</option>
                <option value="kg">kg</option>
              </select>
            </div><!--  /.field-large -->

          </div><!--  /.field-items -->
        </div><!--  /.field-outer -->
       <div class="btn-wrap field-outer">
        <button  class="button" id=".add-item" value="cal-result">Calculate</button>
      </div>
      </div><!--  /.form fields -->
    
    </fieldset>
    </form>
    <div id="results" style="display:none;"></div>
    </div><!--  /.calc-outer-wrap -->



    
 <!-- ==================================================information form ================================= -->
 <div class="wow" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp;">
<form  action="/mealLest" method="POST" class="foodForm" >
    <fieldset>
        <h2 class="herader-form"> Please Select Your Information</h2> <br>
        <label for="">Your Name :</label>
    <input class="food-input" type="text" name="userName" id="user" placeholder="Enter your name please" required > <br>
    <label for=""> Calories:</label>
      <input  class="food-input" type="number" name="calories" value="cal-result" placeholder="Write the calories Please " required>
      <label for="">Diet Type:</label>
        <select  class="food-input" name="dietType" id="dietType" required>Diet Type 
            <option value="defult"> Select Diet Type .. </option>
            <option value="vegetarian">vegetarian</option>
            <option value="Low-Carb Diets">Low-Carb Diets</option>
            <option value="The Paleo Diet">The Paleo Diet</option>
            <option value="The Vegan Diet">The Vegan Diet</option>
        </select>
        <label for=""> Spicial Satuation</label>
        <input class="food-input" type="text" placeholder="Select If you have Spicial Satuation (allergic .. etc)">
        <button type="submit" class="button"> Submit</button>
      </div><!--  /.field-outer -->
   
    </fieldset>
   </form>

  </div>


</main>
<footer>
   
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script>
  new WOW().init();
  </script>
<script src="public/js/cal.js"></script>
</body>
</html>