<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>food Form</title>
    <link rel="stylesheet" href="../public/styles/style.css">
<link rel="stylesheet" href="../public/styles/base.css">
<link rel="stylesheet" href="../public/styles/layout.css">
<link rel="stylesheet" href="../public/styles/modules.css">
<link rel="stylesheet" href="public/styles/form.css">
</head>

<body>
   
<main>

 <!------------------------------------------- cal form  --------------------------------->
<div class="calc-outer-wrap">
    <div id="form-error" style="display:none;"></div>
    <form class="calc-form" id="calc-form">
      <fieldset id="call">
      <div class="form-fields">
    
        <div class="field-outer">
          <div class="field-items">
              <label for=""> Calculate Your calories</label>
            <div class="field field-large">         
                Age:  <input type="text" name="age" id="age" inputmode="numeric" pattern="[0-9]*">
            </div><!--  /.field-large -->
            
            <div class="field field-medium">
              Gender:<select name="gender">
                  <option value="defult">Select your gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                       
              </select>
              
            </div><!--  /.field-small -->
          </div><!--  /.field-items -->
        </div><!--  /.field-outer -->

        <div class="field-outer">
            <div class="field-items">
             <div class="field">
                Height in CM:  <input type="text" name="height_cm" id="height-cm" inputmode="numeric" pattern="[0-9]*">
              </div><!--  /.field -->        
            </div><!--  /.field-items -->
          </div><!--  /.field-outer -->
    
    
        <div class="field-outer">
          <div class="field-items">
            <div class="field field-large">
                Your weight: <input type="text" name="weight" id="weight" inputmode="numeric" pattern="[0-9]*">
            </div><!--  /.field-large -->
            <div class="field field-small">
              <select name="weight_unit" class="weight_unit">
                <option value="lb">lb</option>
                <option value="kg">kg</option>
              </select>
            </div><!--  /.field-small -->
          </div><!--  /.field-items -->
        </div><!--  /.field-outer -->
       <div class="btn-wrap field-outer">
        <button class="form-submit">Calculate</button>
      </div>
      </div><!--  /.form fields -->
    
    </fieldset>
    </form>
    <div id="results" style="display:none;"></div>
    </div><!--  /.calc-outer-wrap -->

<!-- <form action="" class="calc-form">
    <fieldset>
        Age:  <input type="text" name="age" id="age" inputmode="numeric" pattern="[0-9]*" placeholder="Enter your age please "> <br> 
        Gender: <select name="gender" id="">
            <option value="defult">Select yor gender ..</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
        </select> <br>
        Your height : <input type="text" name="height_cm" id="height-cm" inputmode="numeric" pattern="[0-9]*" placeholder="Enter your height in CM "> <br>   
        Your Weight:<input type="namber" name="Weight" placeholder="Enter your Weight in Kg" required> <br>
        <select name="weight_unit">
            <option value="lb">lb</option>
            <option value="kg">kg</option>
          </select>
          <div class="btn-wrap field-outer">
            <button class="form-submit">Calculate</button>
          </div>
      
    </fieldset>
</form> -->
<div id="results" style="display:none;"></div>
<form action="/mealLest" method="POST" class="foodForm" >
    <fieldset>
        <label for="form"> Please Select Your Information</label> <br>
        <!-- <input type="radio" name="time" value="day"> -->
        <!-- <input type="radio" name="time" value="week"> -->
    Your Name :<input type="text" name="userName" id="user" placeholder="Enter your name please" required> <br>
    <!-- Your Email: <input type="email" name="userEmail" placeholder="Enter your Email please"> <br> -->
    <!-- Your Weight:<input type="namber" name="Weight" placeholder="Enter your Weight in Kg" required> <br> -->
    <!-- Your height : <input type="namber" name="height" placeholder="Enter your height in Cm" required> <br> -->
       Calories:<input type="number" name="calories"  placeholder="Write the calories Please "> <br>
       Diet Type: <select name="dietType" id="dietType" required>Diet Type 
            <option value="defult"> Select Diet Type .. </option>
            <option value="vegetarian">vegetarian</option>
            <option value="Low-Carb Diets">Low-Carb Diets</option>
            <option value="The Paleo Diet">The Paleo Diet</option>
            <option value="The Vegan Diet">The Vegan Diet</option>
        </select> <br>
        Spicial Satuation<select name="spicial" id="spicial">
            <option value="defult">Select If you have Spicial Satuation</option>
            <option value="allergens">allergens</option>
            <option value="ingredients">ingredients</option>
        </select> <br>
        <!-- <input type="text" name="spicial" placeholder="allergens or ingredients that must be excluded"> -->
        <button type="submit"> Submit</button>
   
    </fieldset>
   </form>
</main>
<footer>
   
</footer>
<script src="public/js/cal.js"></script>
</body>
</html>