<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<header>Inputs . . .</header>
<main>
    <form action="/mealLest" method="POST" >

    <!-- <input type="radio" name="time" value="day"> -->
    <!-- <input type="radio" name="time" value="week"> -->

    <input type="text" name="calories"  placeholder="calories">
    <input type="text" name="dietType" placeholder="diet type ex(vegetarian)">
    <input type="text" name="spicial" placeholder="allergens or ingredients that must be excluded">
    <button type="submit"> Submit</button>

</form>
</main>

</body>
</html>