<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>main page</h1>
    <a href="/newMeal"> Get Meal Plan :) </a>
    <a href="/newExc"> Get excercise </a>

</body>
</html>