<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="../public/styles/style.css">
<head>
    <%- include('./partials/head') %>
</head>
</head>
<body>
    <button><a href="/searches/list">zxckm</a></button>
    <%- include('./partials/header') %>
    <main>
        <section id="sec1" >
            <img id="model" src="https://i.imgur.com/pV2VAoN.png" alt="">
            <h2>IF NOT NOW ... <br> THEN WHEN ??</h2>
            <section id="insidesec1">
                <p>NOTHING TRULY GREAT <br> EVER COME <br> FROM A COMFORT ZONE</p>
            </section>

        </section>

        <section id="sec2">
            <img id="model2" src="https://i.ibb.co/fQ0FSh5/1368958-fitness-png-file-fitness-png-1100-934-preview.png"
                alt="">
            <section id="insidesec2">
                <p id="p">DO you think you have the suitable body shape ? <br> What does the correct diet mean .?? </p>
                <h2>NEVERMIND !!!</h2>
                <p>With the help of our page you will <br> give more attention to your life style <br> espicially your
                    body and food !! </p>
            </section>
        </section>


        <section id="sec3">
            <section id="insidesec3">
                <img onclick="location.href='list.html';"
                    src="https://i1.wp.com/laprensaaustin.com/wp-content/uploads/2019/07/dsds.png?ssl=1" alt="">
                <h6 id="sentence">Git Your Free Workout NOW</h6>
                <p> You choose your own life <br> The fact that you entered our website <br> means you want a new life
                    and we <br> will give you a Healthy one . </p>
            </section>

        </section>
        <h1>main page</h1>
        <a href="/newMeal">the form page</a>
    </main>
    
    <footer>
        <%- include('./partials/footer') %>  
    </footer>
    
    <script src="/js/app.js"></script>
</body>

</html>