<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>exercise form</title>
    <link rel="stylesheet" href="public/styles/form.css">
</head>
<body>


    <!-- <h2> excercise page</h2> -->
    
    <form action="/getExr" method="POST" class="exercise-form">
        <h2 class="exercise-header"> get exercise depend on machine available in your gym </h2>
        <h2 class="exercise-header"> Select one of Machine Please : </h2>

        <fieldset>
            <!-- <br> -->
    <!-- Select one of Machine Please -->
    <br>
    <input type="radio" name="muscle" class="radio-input" value="bench" required>
    <label for="">bench</label>       
    <br>
    <input type="radio" name="muscle"  class="radio-input" value="dumbbell" required>
    <label for="">dumbbells</label>   
    <br>
    <input type="radio" name="muscle"class="radio-input" value="smith" required>
    <label for="">smith machine</label>    
    <br>
    <input type="radio" name="muscle" class="radio-input" value="barbell" required>
    <label for="">barbell</label>   
    <br>
    <input type="radio" name="muscle" class="radio-input" value="pull" required>
    <label for="">pull machines</label>  
    <br>
    <button type="submit" class="exercise-button"> Submit </button>
</fieldset>
    </form>
    


</body>
</html>