<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <h1> excercise page</h1>

    <form action="/getExr" method="POST">

        <h1> get exercise depend on machine available in your gym </h1>

        <br>

        bench
    <input type="radio" name="muscle" value="bench">
    <br>
    dumbbells
    <input type="radio" name="muscle" value="dumbbell">
    <br>
    smith machine
    <input type="radio" name="muscle" value="smith">
    <br>
    barbell
    <input type="radio" name="muscle" value="barbell">
    <br>
    pull machines
    <input type="radio" name="muscle" value="pull">
    <br>
    <button type="submit" > Submit </button>
    </form>
    


</body>
</html>