<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>exercise form</title>
    <link rel="stylesheet" href="public/styles/form.css">
</head>
<body>


    <!-- <h2> excercise page</h2> -->
    
    <form action="/getExr" method="POST" class="exercise-form">
        <h2 class="exercise-header"> get exercise depend on machine available in your gym </h2>
        <h2 class="exercise-header"> Select one of Machine Please : </h2>

        <fieldset>
            <!-- <br> -->
    <!-- Select one of Machine Please -->
    <br>
    bench<input type="radio" name="muscle" class="radio-input" value="bench" required>
    <!-- <label for="" class="machine-input">bench</label>        -->
 
    dumbbells <input type="radio" name="muscle"  class="radio-input" value="dumbbell" required>
    <!-- <label for="" class="machine-input">dumbbells</label>    -->

    smith machine<input type="radio" name="muscle"class="radio-input" value="smith" required>
    <!-- <label for="" class="machine-input">smith machine</label>     -->
    barbell <input type="radio" name="muscle" class="radio-input" value="barbell" required>
    <!-- <label for="" class="machine-input">barbell</label>    -->
    pull machines<input type="radio" name="muscle" class="radio-input" value="pull" required>
    <!-- <label for="" class="machine-input">pull machines</label>   -->
    <button type="submit" class="button"> Submit </button>
</fieldset>
    </form>
    


</body>
</html>