/* =========================== result section ============================= */
@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
html{
    background-color: rgba(0, 0, 0, 0.774);
} 
.food-Result-1{
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    width: 75%;
    background-color: #222225;
    border:rgb(197, 24, 24) solid ;
    margin: 3% 3% 3% 10%;
    text-align: center;
    line-height: 2pc;
}
.food-result-list-client{
    list-style-type: none;
    font-size: 20px;
}
/* .My-choise{
    width: 90%;
    margin: 3%;
    background-color: rgb(80, 74, 74);
    padding: 2%;
} */
.food-result-list{
    /* grid-column: 1; */
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    text-align: center;
    line-height: 40px;
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-size: 120%;
    width: 75%;
    background-color: #222225;
    border:rgb(197, 24, 24) solid ;
    margin:1%  3% 1% 10%;
}
#resultImage{
    width: 60%;
    height: 60%;
}
.results{
    border: rgb(197, 24, 24) solid;
    padding: 3%;
}
.exercise-Section{
    width: 50%;
    /* grid-column: 2;
    grid-row: 1; */
    background-color: #222225;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    text-align: center;
    line-height: 40px;
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    width: 75%;
    background-color: #222225;
    border:rgb(197, 24, 24) solid ;
    margin: 3% 3% 3% 10%;
}
.results{
     grid-column: 1; 
     display: grid;
    grid-template-columns: auto ;
 grid-template-rows: auto auto auto auto; 
}
.update-button ,.delete-button ,.button-click{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background: rgb(197, 24, 24);
    border-color: rgb(197, 24, 24);
    border-radius: 30px;
    font-size: 80%;
    width: 50%;
    padding: 15px 42px;
    transition: 200ms;
    margin-left: 17%;
    margin-top: 1pc;
    margin-bottom: 3%;
}
.food-result-h{
    font-size: 95%;
    font-family: 'Roboto', sans-serif;
} 
 
